@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  /* Colors */
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  /* Neutral */
  --clr-neutral-900: hsl(234, 12%, 34%);
  --clr-neutral-400: hsl(229, 6%, 66%);
  --clr-neutral-100: hsl(0, 0%, 98%);

  /* Rest of colors */
  --clr-white: hsl(0, 0%, 100%);

  /* Typography */
  --fs-400: 0.9375rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-900: 2.5rem;

  /* Fonts */
  --ff-sans: 'Poppins', sans-serif;
  --fw-extralight: 200;
  --fw-normal: 400;
  --fw-semibold: 600;

  /* Rest of vars */
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --fluid-view: 90vw;
  --max-width: 1280px;
  --narrow-width: 55ch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
  line-height: 1.7;
  color: var(--clr-neutral-400);
}

body {
  background-color: var(--clr-neutral-100);
}

h1,
h2,
h3 {
  color: var(--clr-neutral-900);
  line-height: 1.2;
  text-wrap: balance;
  margin-block-end: 0.5rem;
}

.container {
  inline-size: var(--fluid-view);
  max-inline-size: var(--max-width);
  margin-inline: auto;
}

.container--narrow {
  max-inline-size: var(--narrow-width);
}

header {
  text-align: center;
  margin-block: 6rem;
}

h1 {
  font-weight: var(--fw-extralight);
  font-size: var(--fs-600);
}

h1 .sub-heading {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-semibold);
}

header > p {
  text-wrap: balance;
  font-size: var(--fs-500);
}

main {
  padding-block-end: 5rem;
}

.layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  header .text {
    text-wrap: pretty;
  }

  .layout-grid {
    grid-template-areas:
      '. b .'
      'a b d'
      'a c d'
      '. c .';
  }

  .card-a {
    grid-area: a;
  }

  .card-b {
    grid-area: b;
  }

  .card-c {
    grid-area: c;
  }

  .card-d {
    grid-area: d;
  }
}

.card {
  --border-radius: 0.325rem;

  background-color: var(--clr-white);
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
  border-top: var(--border-radius) solid transparent;
  box-shadow: var(--shadow-xl);
}

.border-cyan {
  border-top-color: var(--clr-cyan);
}

.border-red {
  border-top-color: var(--clr-red);
}

.border-orange {
  border-top-color: var(--clr-orange);
}

.border-blue {
  border-top-color: var(--clr-blue);
}

.card__title {
  font-size: var(--fs-600);
  margin: 0;
}

.card__img {
  margin-block-start: 1rem;
  display: block;
  margin-inline-start: auto;
}
